# === Gradle caches & outputs ===
/.gradle/
/build/

# === IntelliJ IDEA ===
/.idea/
/out/
*.iml
*.iws
*.ipr

# === Logs & misc ===
*.log
*.png

# === НЕ игнорировать (должно быть в репо) ===
# settings.gradle
# gradle/wrapper/**
# gradlew
# gradlew.bat